In [ ]:
# data wrangling task 1
# Import libraries
import pandas as pd

# Load dataset
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")

# Show first 10 rows
print("First 10 rows of dataset:")
display(df.head(10))

# Identify and calculate percentage of missing values
print("\nMissing values percentage:")
display(df.isnull().sum() / len(df) * 100)

# Identify numerical and categorical columns
print("\nColumn Data Types:")
display(df.dtypes)

# TASK 1: Calculate the number of launches on each site
print("\nNumber of launches on each Launch Site:")
display(df['LaunchSite'].value_counts())

# Orbit Types Information
orbit_info = {
    "LEO": "Low Earth orbit (below 2000 km).",
    "VLEO": "Very Low Earth Orbit (below 450 km).",
    "GTO": "Geostationary Transfer Orbit, elliptical orbit used to move satellites to GEO.",
    "SSO": "Sun-synchronous orbit, polar orbit with constant solar time.",
    "ES-L1": "Lagrange Point orbit between Earth and Sun.",
    "HEO": "Highly Elliptical Orbit with high eccentricity.",
    "ISS": "International Space Station orbit (Low Earth Orbit).",
    "MEO": "Medium Earth Orbit (2000–35786 km).",
    "GEO": "Circular geosynchronous orbit (35786 km above equator).",
    "PO": "Polar Orbit, satellite passes over both poles."
}

print("\nOrbit Types Information:")
for orbit, desc in orbit_info.items():
    print(f"{orbit}: {desc}")

First 10 rows of dataset:

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.000000,ISS,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.000000,LEO,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857

Missing values percentage:

FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass        0.000000
Orbit              0.000000
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        28.888889
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

Column Data Types:

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

Number of launches on each Launch Site:

LaunchSite
CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: count, dtype: int64

Orbit Types Information:
LEO: Low Earth orbit (below 2000 km).
VLEO: Very Low Earth Orbit (below 450 km).
GTO: Geostationary Transfer Orbit, elliptical orbit used to move satellites to GEO.
SSO: Sun-synchronous orbit, polar orbit with constant solar time.
ES-L1: Lagrange Point orbit between Earth and Sun.
HEO: Highly Elliptical Orbit with high eccentricity.
ISS: International Space Station orbit (Low Earth Orbit).
MEO: Medium Earth Orbit (2000–35786 km).
GEO: Circular geosynchronous orbit (35786 km above equator).
PO: Polar Orbit, satellite passes over both poles.

In [5]:
# task 2 
# Orbit column me har unique value ka count nikalne ke liye
orbit_counts = df['Orbit'].value_counts()

# GTO ko remove karne ke liye
orbit_counts = orbit_counts.drop('GTO', errors='ignore')

# Output dekhne ke liye
print(orbit_counts)

Orbit
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
HEO       1
ES-L1     1
SO        1
GEO       1
Name: count, dtype: int64

In [ ]:
#task 3
import pandas as pd

# Step 1: Dataset load karo
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/spacex_launch_geo.csv")

# Step 2: Columns check karo
print("Columns in dataset:\n", df.columns)

# Step 3: Sahi column ka naam use karo ('Landing Outcome')
landing_outcomes = df['Landing Outcome'].value_counts()
print("\nLanding Outcomes:\n", landing_outcomes)

# Step 4: Index ke sath outcomes print karo
for i, outcome in enumerate(landing_outcomes.keys()):
    print(i, outcome)

# Step 5: 'bad outcomes' set banao (unsuccessful landings)
# ye indices tumhare para ke according hai
bad_outcomes = set(landing_outcomes.keys()[[1,3,5,6,7]])
print("\nBad Outcomes Set:\n", bad_outcomes)

Columns in dataset:
 Index(['Flight Number', 'Date', 'Time (UTC)', 'Booster Version', 'Launch Site',
       'Payload', 'Payload Mass (kg)', 'Orbit', 'Customer', 'Landing Outcome',
       'class', 'Lat', 'Long'],
      dtype='object')

Landing Outcomes:
 Landing Outcome
No attempt                 18
Success (drone ship)       11
Success (ground pad)        8
Controlled (ocean)          5
Failure  (drone ship)       3
Success  (drone ship)       3
Failure   (parachute)       2
Uncontrolled (ocean)        2
Failure (drone ship)        2
Success  (ground pad)       1
Precluded  (drone ship)     1
Name: count, dtype: int64
0 No attempt
1 Success (drone ship)
2 Success (ground pad)
3 Controlled (ocean)
4 Failure  (drone ship)
5 Success  (drone ship)
6 Failure   (parachute)
7 Uncontrolled (ocean)
8 Failure (drone ship)
9 Success  (ground pad)
10 Precluded  (drone ship)

Bad Outcomes Set:
 {'Uncontrolled (ocean)', 'Success  (drone ship)', 'Failure   (parachute)', 'Controlled (ocean)', 'Success (drone ship)'}

In [13]:
# task 4
import pandas as pd

# Step 1: Dataset load karo
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/spacex_launch_geo.csv")

# Step 2: Landing outcomes count karo
landing_outcomes = df['Landing Outcome'].value_counts()
print("Landing Outcomes:\n", landing_outcomes)

# Step 3: Print outcomes with index
for i, outcome in enumerate(landing_outcomes.keys()):
    print(i, outcome)

# Step 4: Bad outcomes set banao (unsuccessful landings)
bad_outcomes = set(landing_outcomes.keys()[[1,3,5,6,7]])
print("\nBad Outcomes Set:\n", bad_outcomes)

# Step 5: Landing class assign karo (0 = fail, 1 = success)
landing_class = []
for outcome in df['Landing Outcome']:
    if outcome in bad_outcomes:
        landing_class.append(0)
    else:
        landing_class.append(1)

# Step 6: DataFrame me naya column add karo
df['Class'] = landing_class

print("\nFirst 8 rows of Class column:\n", df[['Class']].head(8))
print("\nFirst 5 rows of full DataFrame:\n", df.head(5))

# Step 7: Success rate calculate karo
success_rate = df['Class'].mean()
print("\nSuccess Rate:", success_rate)

# Step 8: CSV export karo
df.to_csv("dataset_part_2.csv", index=False)
print("\nCSV exported as dataset_part_2.csv")

Landing Outcomes:
 Landing Outcome
No attempt                 18
Success (drone ship)       11
Success (ground pad)        8
Controlled (ocean)          5
Failure  (drone ship)       3
Success  (drone ship)       3
Failure   (parachute)       2
Uncontrolled (ocean)        2
Failure (drone ship)        2
Success  (ground pad)       1
Precluded  (drone ship)     1
Name: count, dtype: int64
0 No attempt
1 Success (drone ship)
2 Success (ground pad)
3 Controlled (ocean)
4 Failure  (drone ship)
5 Success  (drone ship)
6 Failure   (parachute)
7 Uncontrolled (ocean)
8 Failure (drone ship)
9 Success  (ground pad)
10 Precluded  (drone ship)

Bad Outcomes Set:
 {'Uncontrolled (ocean)', 'Success  (drone ship)', 'Failure   (parachute)', 'Controlled (ocean)', 'Success (drone ship)'}

First 8 rows of Class column:
    Class
0      0
1      0
2      1
3      1
4      1
5      1
6      1
7      0

First 5 rows of full DataFrame:
    Flight Number        Date Time (UTC) Booster Version  Launch Site  \
0              1  2010-06-04   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1              2  2010-12-08   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2              3  2012-05-22    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3              4  2012-10-08    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4              5  2013-03-01   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  Payload Mass (kg)  \
0               Dragon Spacecraft Qualification Unit                0.0
1  Dragon demo flight C1, two CubeSats,  barrel o...                0.0
2                             Dragon demo flight C2+              525.0
3                                       SpaceX CRS-1              500.0
4                                       SpaceX CRS-2              677.0

       Orbit         Customer        Landing Outcome  class        Lat  \
0        LEO           SpaceX  Failure   (parachute)      0  28.562302
1  LEO (ISS)  NASA (COTS) NRO  Failure   (parachute)      0  28.562302
2  LEO (ISS)      NASA (COTS)             No attempt      0  28.562302
3  LEO (ISS)       NASA (CRS)             No attempt      0  28.562302
4  LEO (ISS)       NASA (CRS)             No attempt      0  28.562302

        Long  Class
0 -80.577356      0
1 -80.577356      0
2 -80.577356      1
3 -80.577356      1
4 -80.577356      1

Success Rate: 0.5892857142857143

CSV exported as dataset_part_2.csv